[submodule "01-GraphViz"]
	path = 01-GraphViz
	url = git@github.com:CS106L-assignments/GraphViz.git
[submodule "01-WikiRacer"]
	path = 01-WikiRacer
	url = git@github.com:CS106L-assignments/WikiRacer.git
[submodule "02-GapBuffer"]
	path = 02-GapBuffer
	url = git@github.com:CS106L-assignments/GapBuffer.git
[submodule "03-HashMap"]
	path = 03-HashMap
	url = git@github.com:CS106L-assignments/HashMap.git
[submodule "04-KDTree"]
	path = 04-KDTree
	url = git@github.com:CS106L-assignments/KDTree.git
